/* 
h1{
    color: white;
    text-align: center; */
}
button{
    background-color: rgb(16, 105, 88);
}
#answer-buttons{
color: black;

} */
#text-area{
 align-items: center;
 text-align: center;
 color: #1fdcdc;
}
#body {
    background-image: url(https://unsplash.com/photos/vw3Ahg4x1tY) ;
}
/* html{

} */