/* *{
    background-image:url(images/htmljs.jpg);
    color: white;
}
h1{
    color: white;
    text-align: center;
}
button{
    background-color: rgb(16, 105, 88);
}
#answer-buttons{
color: black;

} */
.text-area{
 text-align: center;
 color: #232b2b;
}